.players{
    margin-top: 15px;
    padding: 15px;
    background-color: #fafafa;
}

.players_filter{
    display: flex;
    justify-content: flex-end;
}

.players_autocomplete{
    width: 250px;
    background-color: white;
    margin: 0 10px;
}

.players_table{
    margin-top: 15px;
}

.players_table_paper{
    width: 100%;
}

.players_table_container{
    max-height: 69vh;
}

.MuiTableRow-root:nth-child(even){
    background-color: #8c9eff;
}

.MuiTableRow-root:nth-child(even):hover{
    background-color: #8c9eff !important;
}

.players-table .MuiTableBody-root .MuiTableRow-root:nth-child(odd):hover{
    background-color: #fff !important;
}




@media (max-width: 700px){
    .players_autocomplete{
        width: 130px;
    }

    #grouped-country-label, #grouped-player-label, #combo-box-teams-label, #combo-box-seasons-label{
        font-size: 10px;
    }
}

@media (max-width: 550px){
    .players_autocomplete{
        width: 100px;
    }

    #grouped-country-label, #grouped-player-label, #combo-box-teams-label, #combo-box-seasons-label{
        font-size: 8px;
    }
}

@media (max-width: 500px){
    .players_autocomplete{
        width: 80px;
    }

    #grouped-country-label, #grouped-player-label, #combo-box-teams-label, #combo-box-seasons-label{
        font-size: 10px;
    }
}

@media (max-width: 400px){
    .players_autocomplete{
        width: 55px;
    }

    #grouped-country-label, #grouped-player-label, #combo-box-teams-label, #combo-box-seasons-label{
        font-size: 10px;
    }
}